body {
 Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#top-header{
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
}

.navbar-brand {
  padding: ;
  font-size: 16px
}
/*===================logo===============*/
.navbar-nav{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*================dropdown===============*/

.dropdown:hover .dropdown-menu{
  display:block;
 
}
.dropdown-menu{
  background-color: rgb(38, 51, 75);
  padding: 5px;
  
}

.dropdown-item
{color: rgb(255, 254, 254);}
.dropdown .dropdown-menu a:hover
{
  color: rgb(241, 245, 242);
  background-color: #000203;
  border-color: #f8faf7;
}

/*================Banner===============*/

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color :blue;
}

.carousel-indicators {
  bottom: -50px;
}
/*=======================animation====================*/
#animation{
  background-color: rgb(179, 161, 161);
}

.card-body{
  color: white;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*=================overlay hover============*/

.caption{
  text-align: center;
  padding:5px ;
  color:white ;
  height:x;
  font-family:sans-serif;
}
.caption p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight:900;
  padding-top: 10px;

}
/*========================toppicks====================*/
#toppicks p{
  color: #e04618;
  font-weight: bold;
}
/*========================new arrival====================*/
#newarrival p{
  color: #e04618;
  font-weight: bold;
}
#featuredproduct p{
  color: #e04618;
  font-weight: bold;
}
#superdeals p{
  color: #e04618;
  font-weight: bold;
}
#workfromhome p{
  color: #e04618;
  font-weight: bold;
}
hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: rgb(61, 58, 58);
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: ;
    font-size: 40px;
    color: rgb(12, 11, 11);
    border-radius:30rem;
    padding: 0.2rem 2rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*===============================overlay=========================*/
.box-img {
  position: relative;
  width: 100%;
  max-width: 400px;
 
}
.box-img p del{
  opacity: 0.5;
}

.image-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  
}

.box-img:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/*========================subscribe================================*/
#subscribe{
  background-color: rgb(32, 49, 73);
  
  background-image: radial-gradient(rgb(207, 200, 200) 1%, rgb(32, 49, 73) 60%);
  
  color: white;
  height:300px;

}
.btn-light{
  border-radius: 30rem;
}
.btn-light:hover{
  background-color: #000203;
  color: #f8faf7;

}

.form-control{
  border-radius: 30rem;
}
.center-block {
  margin: auto;
  display: block;
}
.text-center h3 h5{
  color: #f8faf7;
}
#footer{
  background-color: #cad9e0;
}
/*===========================================*/
.col-md-3 .row{
  padding:5px;
}
