

#sem1:hover  #drop1 {
    display: block;
}
      
#sem2:hover  #drop2 {
    display: block;
}
#sem3:hover  #drop3 {
    display: block;
}
#sem4:hover  #drop4 {
    display: block;
}
#sem5:hover  #drop5 {
    display: block;
}
#sem6:hover  #drop6 {
    display: block;
}
 